:root {
	--system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

@font-face {
	font-family: banner-font;
	src: url(../fonts/NorseBold-2Kge.otf);
}

html,
body,
head {
	margin: 0;
	padding: 0;
	font-family: var(--system-ui);
	/* font-family: Arial, Helvetica, sans-serif; */
}

main {
	display: flex;
	height: 100vh;
	margin: 0;
	padding: 0;
	margin-bottom: 0;
	/* width:  100vw; */
	/* border: 5px black solid; */
}

#left {
	background-color: coral;
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;
	flex: 1;
}

#background {
	/* display: flex; */
	height: 100%;
	width: clamp(547.53px, calc(100vw * 0.3333), 640px);
	flex: 1 1 100%;
	position: relative;
}

#banner {
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	/* display: flex; */
	top: 21%;
	height: 120px;
	width: clamp(547.53px, calc(100vw * 0.3333), 640px);
	display: flex;
	justify-content: center;
	align-items: center;

	/* width: max(640px,); */
	/* min-width: 547.53px;
	max-width: 640px; */
}

#banner > p {
	color: white;
	font-size: 4.5rem;
	margin: 0;
	font-family: banner-font;
	/* position: fixed; */
}

#banner > img {
	height: 100%;
}

#right {
	background-color: #f9fafb;
	flex: 2;
	display: flex;
	flex-direction: column;
	justify-content: center;
	/* padding: 1rem; */
	/* align-items: center; */
}

#info {
	padding: 1rem;
}

#info > p {
	padding: 1rem;
	font-size: 1.3rem;
	font-weight: bold;
	max-width: 700px;
}

form {
	background-color: #ffffff;
	box-shadow: 1px 3px 5px 1px rgba(0, 0, 0, 0.2);
	padding: 1rem;
}

form > fieldset > legend {
	font-size: 1.5rem;
	font-weight: bolder;
	padding: 1rem 0;
}

fieldset {
	/* padding: 1rem; */
	border: none;
	display: flex;
	justify-content: left;
	gap: 5rem;
	flex-wrap: wrap;
}

fieldset label {
	font-size: 0.7rem;
	font-weight: bold;
	letter-spacing: 0.1rem;
}

.flex {
	display: flex;
	flex-direction: column;
}

#callToAction {
	padding: 2rem;
}

#callToAction > button {
	border: none;
	border-radius: 0.45rem;
	box-shadow: 1px 3px 3px 1px rgba(0, 0, 0, 0.2);
	background-color: #596d48;
	padding: 0.5rem 2rem;
	font-size: 1rem;
	font-weight: bold;
	/* box-sizing: border-box; */

	color: white;
}

#callToAction > button:hover {
	/* box-shadow: 1px 3px 3px 1px rgba(0, 0, 0, 0.2); */
	/* box-sizing: border-box; */
	/* outline: .5px solid black; */
	background-color: white;
	color: #596d48;
}

#callToAction > button:active:enabled {
	outline: 0.5px solid black;
}

#callToAction p > button {
	border: none;
	background-color: rgb(0, 0, 0, 0);
	padding: 0;
	font-size: 1rem;
	font-weight: bold;
	color: #596d48;
}

#callToAction p > button:hover {
	color: blue;
}

#callToAction p > button:active:enabled {
	color: white;
	text-shadow: 1px 1px 2px white, 0 0 0.1em black, 0 0 0.2em black;
}

input:focus {
	/* box-shadow: 2px 3px 4px 1px black; */
	box-shadow: 2px 3px 4px 1px rgba(0, 0, 0, 0.4);

	border: none;
}

input:valid {
	border-color: none;
}

input:invalid {
	border-color: red;
}

#footer {
	/* display: flex; */

	background-color: rgba(0, 0, 0, .0);
	color: white;
	font-size: .8rem;
	margin: 0;
	padding: 1rem 0rem 0 0;
	position: absolute;
	bottom: 0;
	width: clamp(547.53px, calc(100vw * 0.3333), 640px);
	text-align: center;
}
